*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
header{
    width: 100%;
    height: 50px;
    background-color: #EEEEEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6%;
}
header h1{
    font-size: 32px;
}
header button{
    height: 40px;
    width: 160px;
    border: none;
    background-color: red;
    color: white;
    margin: 1.6%;
    border-radius: 10px;
}
.information{
    background: linear-gradient(45deg, #604771 10%, #D7C2FF 40%,#D7C2FF 100%);
    height: 600px;
    display: flex;
}
.user{
    background-color: rgba(255,255,255,0.5);
    width: 200px;
    margin: 2%;
    padding: 3%;
    border-radius: 15px;
}
.user h1{
    font-size: 24px;
    margin-bottom: 5%;
}
.user button{
    display: block;
    background: none;
    border: none;
    text-decoration: none;
    margin: 5% 0% 5% 0%;
}
.user button:hover{
    display: block;
    background: none;
    border: none;
    text-decoration: underline;
}
.documents{
    flex: 1;
    background-color: #BBBBBB;
    display: flex;
    flex-direction: column;
}
.documents .container1{
    height: 8%;
    align-items: center;
    display: flex;
    background-color: #D7C2FF;
}
.documents .container1 h1{
    font-size: 24px;
    margin-left: 1%;
}
.documents .container2{
    flex: 1;
    background-color: white;
}
.documents .container3{
    height: 12%;
    background-color: #EEEEEE;
    display: flex;
    align-items: center;
}
.documents .container3 button{
    background: none;
    border: none;
    background-color: #444444;
    color: #EEEEEE;
    height: 40px;
    width: 160px;
    border-radius: 10px;
    margin: 0% 0% 0% 1%;
}
.documents .container3 button:hover{
    text-decoration: underline;
}

