<h1>Microsoft Graph API</h1>
<h2>Your Emails</h2>
<table>
    <tbody>
        {{#each emails.value}}
        <tr>
            <td>Title</td>
            <td>{{this.subject}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<br>
<a href="/">Go back</a>
