    <article class="login">
        <header>
            <h1>AzureConnect</h1>
            <nav>
            </nav>
        </header>
        <main>
            <video autoplay muted loop class="video-background">
                <source src="/resources/loginbg.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            
            <div class="video-content">
                <div class="login-div">
                    <div class="text">Jetzt anmelden und loslegen!</div>
                    <a href="/auth/signin">Login</a>
                </div>
            </div>
        </main>
        <footer>
            <nav>

            </nav>
        </footer>
    </article>