<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="azureconnect application">
    <meta name="keywords" content="azure, profile, mail, calendar">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
    {{{body}}}
    <script src="/scripts/customize.js" defer></script>
    <script src='/scripts/calenderScript.js' defer></script>
</body>
</html>